### Configuration

Just to make it easier to locate the files, in this tutorial we will use absolute pathways (although it is not required):

In [1]:
from utils import use_absolute_paths
use_absolute_paths()

The cell below is tagged as 'parameters'. You can see it notebook tools in JupyterLab. To easily create tags install "celltags" extension.

In [2]:
protein_data_path = 'data/raw/data_from_wetlab.xlsx'
output_path = 'data/clean/protein_levels.csv'

After activation of the cell above, it should look like that:

<img src='../screenshots/tags_in_JupyterLab.png'>

### Toolset

In [3]:
import pandas as pd

### Data extraction

It seems that the excel file has a header we don't need:

In [4]:
data = pd.read_excel(protein_data_path)
data

,some spurious header,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,NaN,Patient 1,Patient 2,Healthy Control 1,Healthy Control 2
1,Protein 1,1.6,1.2,1.6,1
2,Protein 2,1.5,1.3,1,NaN
3,Protein 3,NaN,1.7,NaN,NaN

In [5]:
data_clean = pd.read_excel(protein_data_path, header=1, index_col=0)
data_clean

           Patient 1  Patient 2  Healthy Control 1  Healthy Control 2
Protein 1        1.6        1.2                1.6                1.0
Protein 2        1.5        1.3                1.0                NaN
Protein 3        NaN        1.7                NaN                NaN

We could also reformat column names to have no spaces, so that we can access those directly in pandas:

In [6]:
data_clean.columns = data_clean.columns.str.replace(' ', '_')
data_clean

           Patient_1  Patient_2  Healthy_Control_1  Healthy_Control_2
Protein 1        1.6        1.2                1.6                1.0
Protein 2        1.5        1.3                1.0                NaN
Protein 3        NaN        1.7                NaN                NaN

### Saving cleaned spreadsheet

Note: data/clean directory needs to exist at this point. When running the pipeline, it will be created automatically.

In [7]:
data_clean.to_csv(output_path)